CloudKit-demo.xcodeproj/project.xcworkspace/xcshareddata/CloudKit-demo.xccheckout
CloudKit-demo.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcschemes/CloudKit-demo.xcscheme
CloudKit-demo.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcschemes/xcschememanagement.plist
